# BareTcl Build Artifacts
tclsh
*.o


# Development Logs
*.log
test_output.log

# IDEs and OS
.vscode/
.DS_Store
GEMINI.md

# Local Arduino Port symlinks/folders
ESP32_ports/src

# ESP-IDF Build Artifacts
ESP32_ports/build/
ESP32_ports/sdkconfig
ESP32_ports/sdkconfig.old
ESP32_ports/*.zip

